body {
  height: 100%;
  margin: 0 !important;
  padding: 0 ! important;

  backgroud: url(images/space-2017.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
