body {
  height: 100%;
  margin: 0 !important;
  padding: 0 ! important;

  background: url(images/space-2017.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* head content */

.ui.head-content.segment {
  padding-top: 32px !important;
  padding-bottom: 0 !important;
  border-top: 1px solid rgba(80,80,80, .6);
  border-left: 1px solid rgba(80,80,80, .6);
  border-right: 1px solid rgba(80,80,80, .6);
}

.ui.head-content.segment > .ui.menu {
  background-color: transparent !important;
  color: white !important;
  margin-left: 50px;
}

/* space adjustments */

.ui.space .ui.segment {
  background-color: rgba(50,50,50,.4) !important;
  border: 0 !important;
  box-shadow: none;
}

.ui.space .ui.menu {
  background-color: rgba(10,10,10,.4) !important;
  border: 0 !important;
  box-shadow: none;
}
