@import url('https://fonts.googleapis.com/css?family=Exo+2');

body {
  height: 100%;
  margin: 0 !important;
  padding: 0 ! important;

  background: url(images/space-2017.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: "Exo 2", serif !important;
}

/* space adjustments */

.ui.space .ui.segment {
  background-color: rgba(30,30,30,.6) !important;
  border: 0 !important;
  box-shadow: none;
}

.ui.space .ui.darker.segment {
  background-color: rgba(0,0,0,.75) !important;
}

.ui.space .ui.darker.segment * {
  color: white;
}

.ui.space .ui.menu {
  background-color: rgba(10,10,10,.4) !important;
  border: 0 !important;
  box-shadow: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ui.space .ui.menu .item {
  color: rgba(240,240,240,.8) !important;
  font-family: "Exo 2", serif !important;
}

.ui.space .ui.menu .item:hover {
  color: rgba(250,250,250,1) !important;
  background-color: rgba(80,80,80,.4) !important;
}

/* head content */

.ui.head-content.segment {
  padding-top: 48px !important;
  padding-bottom: 0 !important;
  border-bottom: 1px solid #bbb !important;
  border-left: 1px solid black !important;
  border-right: 1px solid black !important;

  background: url(images/asgardia-sign.png) 16px center;
  background-repeat: no-repeat;
  background-size: 60px 60px;

  position: relative;
}

.ui.head-content.segment > .ui.menu {
  background-color: rgba(10,10,10, .4) !important;
  color: white !important;
  margin-left: 74px;
}

.ui.head-content.segment .asgardia-panel {
  height: 33px;
  width: 296px;
  background: url(images/asgardia-slogan.png) !important;
  background-repeat: no-repeat;
  background-size: cover !important;

  position: absolute;
  left: 88px;
  top: 24px;
}

.mainframe-panel {
  margin-left: 80px;
  line-height: 1;
  font-size: 7pt !important;
  color: rgba(180,180,180,.65);
  text-transform: uppercase;
}

.mainframe-panel .ui.breadcrumb {
  font-size: 7pt !important;
  vertical-align: top !important;
  margin-left: .5em !important;
}

.mainframe-panel a {
  color: white !important;
}

.mainframe-panel a:hover {
  color: yellow !important;
}

.mainframe-panel .infrastructure {
  color: orange !important;
}

.content {
  margin-left: 80px;
}

.page-heading {
  font-size: 20pt !important;
}
